body {
    font-family: Arial;
    background: #f7f7f7;
    padding: 20px;
    text-align: center;
}

header {
    margin-top: 100px;
}

h1 {
    color: #d63031;
}

p {
    font-size: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #d63031;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}
