<!DOCTYPE html>
<html>
<head>
    <title>Blood Inventory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Blood Inventory Summary</h2>
    <table>
        <tr>
            <th>Blood Group</th>
            <th>Available Donors</th>
        </tr>
        {% for group, count in inventory %}
        <tr>
            <td>{{ group }}</td>
            <td>{{ count }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/admin/dashboard">⬅ Back to Dashboard</a>
</body>
</html>
